
  input{
    background-color: transparent;
  }
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .card {
 
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
 
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
 font-weight: 400;
 text-shadow: 1px 1px 2px #000000;
  }